<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>todo应用</title>
    <link rel="stylesheet" href="./css/todo.css">
</head>

<body>
    <div class="todo-main">
        <!-- todo 选项卡 -->
        <div class="todo-tab">
            <a href="#/list"><button>显示 Todo List 界面</button></a>
            <a href="#/add"><button>显示 Todo Add 界面</button></a>
        </div>

        <!-- todo 输入框 -->
        <div class="todo-form hide">
            <input id='id-input-todo' type="text">
            <button id='id-button-add' type="button">Add</button>
        </div>

        <!-- todo 列表 -->
        <div id="id-div-container">
        </div>
    </div>
    <script src="./js/dom_utils.js"></script>
    <script src="./js/prompt.js"></script>
    <script src="./js/router.js"></script>
    <script src="./js/view.js"></script>
    <script src="./js/controller.js"></script>
    <script>
        // router
        const router = new Router();
        const todoForm = e('.todo-form')
        const todoContainer = e('#id-div-container')
        router.route('/list', () => {
            todoForm.classList.add('hide')
            if (todoContainer.classList.contains('hide')) {
                todoContainer.classList.remove('hide')
            }
        })
        router.route('/add', () => {
            todoContainer.classList.add('hide')
            if (todoForm.classList.contains('hide')) {
                todoForm.classList.remove('hide')
            }
        })

        // controller and views
        const todoView = new TodoView()
        const controller = new TodoController(todoView)
        const addButtonController = new AddButtonController(todoView)
        const completeButtonController = new CompleteButtonController(todoView)
        const deleteButtonController = new DeleteButtonController(todoView)
        const editButtonController = new EditButtonController(todoView)

        controller.initTodos()
    </script>

</body>

</html>