.todo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done {
    background-color: aquamarine;
    color: gray;
    text-decoration: line-through;
}

.not-done {
    border-style: dashed;
}

.todo-cell {
    border-width: 0.5px;
    padding: 0.2em;
    margin: 0.5em 0;
}

.todo-tab {
    margin: 0.5em 0;
}

.hide {
    display: none;
}


/* prompt css */

.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.modal-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

.modal-alert {
    margin: 0 auto;
    width: 200px;
    opacity: 1;
}

.modal-title {
    text-align: center;
    font-size: 27px;
    background: lightblue;
}

.modal-message {
    padding: 10px 5px;
    background: white;
}

.modal-input {
    width: 100%;
}

.modal-control {
    font-size: 0;
}

.modal-button {
    width: 50%;
    height: 100%;
    font-size: 22px;
    border: 0;
}

.modal-action-button {
    width: 100%;
}

.vertical-center {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


/* unfinished task shake effect */

.modal-action-button:hover {
    animation: shakeIt 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shakeIt {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}